td{
    width: 150px;
    height: 150px;
    font-size: 100px;
    text-align: center;
}
td.type-o{
    color: green;
}
td.type-x{
    color: red;
}
body{
    background-color: lightpink;
    text-align: center;
}
table{
    border-radius: 30px;
    border: white 2px dashed;
    text-align: center;
    margin: 30px auto 0;
}

#play-btn{
    padding: 20px 60px;
    border: 3px solid yellow;
    background-color: red;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
}